
body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  height: 150vh;
  background-color: white;
}

.scoreBoard {
margin-bottom: 60px;
margin-top: 130px;
}

.score {
  font-size: 20px;
  font-family: 'Lobster', sans-serif;
}

h1 {
  animation-duration: 4s;
  animation-name: pulse;
  font-size: 60px;
  font-family: 'Lobster', sans-serif;
}

h2 {
  font-family: 'Lobster', sans-serif;
  margin-top: 20px;
}

h3 {
  visibility: hidden;
}

.timer {
  font-size: 30px;
  font-family: 'Lobster', sans-serif;
}

main {
  position: absolute;
  top: 20px;
  width: 100vw;
  height: 100vh;
  display: none;
}
.colorbox {
  background: url("images/field.png");
  margin: 0 auto;
  width: 600px;
  height: 550px;
}


.grid {
  width: 500px;
  list-style: none;
  margin: 0 auto;
  cursor: url("images/mallet-small.png"), pointer;
  padding: 20px;
}

.grid li {
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
  float:left;
  /* background-color: papayawhip; */
  border-color: black;
  /* visibility: hidden; */
}

.grid li:active {
  cursor: url("images/mallet-small-active.png"), pointer;
}

.grid img {
  width: 100px;
  height: 100px;
}

.whack {
  background: url("images/whack.png");
}


.mole {
  background: url("images/mole.png");
  background-size: 100px 100px;
}

.startButton {
  margin-top: 20px;
  background-color: black;
  animation-duration: 4s;
  animation-name: jello;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  width: 200px;
  height: 30px;
}


.start-div {
  min-height: 50px;
}

@keyframes jello {
  from,
  11.1%,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

.jello {
  -webkit-animation-name: jello;
  animation-name: jello;
  -webkit-transform-origin: center;
  transform-origin: center;
}


@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes hinge {
   0% {
      transform: rotate(0);
      transform-origin: top left;
      animation-timing-function: ease-in-out;
   }
   20%, 60% {
      transform: rotate(80deg);
      transform-origin: top left;
      animation-timing-function: ease-in-out;
   }
   40% {
      transform: rotate(60deg);
      transform-origin: top left;
      animation-timing-function: ease-in-out;
   }
   80% {
      transform: rotate(60deg) translateY(0);
      opacity: 1;
      transform-origin: top left;
      animation-timing-function: ease-in-out;
   }
   100% {
      transform: translateY(700px);
      opacity: 0;
   }
}
