
body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  height: 150vh;
  background-color: white;
}

.scoreBoard {
margin-bottom: 60px;
margin-top: 130px;
}

.score {
  font-size: 20px;
  font-family: 'Lobster', sans-serif;
}



h1 {
  animation-duration: 3s;
  animation-name: pulse;
  font-size: 60px;
  font-family: 'Lobster', sans-serif;
}

h2 {
  visibility: hidden;
}

h3 {
  visibility: hidden;
}

.timer {
  font-size: 30px;
  font-family: 'Lobster', sans-serif;
}

main {
  position: absolute;
  top: 20px;
  width: 100vw;
  height: 100vh;
  display: none;
}
.colorbox {
  background-color: papayawhip;
  margin: 0 auto;
  width: 600px;
  height: 550px;
}


.grid {
  width: 500px;
  list-style: none;
  margin: 0 auto;
  cursor: url("images/mallet-small.png"), pointer;
  padding: 20px;
}

.grid li {
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
  float:left;
  background-color: papayawhip;
  border-color: black;
  /* visibility: hidden; */
}

.grid li:active {
  cursor: url("images/mallet-small-active.png"), pointer;
}

.grid img {
  width: 100px;
  height: 100px;
}

.whack {
  background: url("images/whack.png");
}

.mole {
  background: url("images/mole.png");
  background-size: 100px 100px;
}

.startButton {
  margin-top: 20px;
  background-color: black;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  width: 200px;
  height: 30px;
}

/* .high-scorediv{
  min-height: 50px;
  margin-top: 20px;
} */

.start-div {
  min-height: 50px;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
