body {
 font-family: 'Ubuntu Condensed', sans-serif;
  background: white;
  align-content: center;
  text-align: center;
}


.spaceinvaders {
  width: 600px;
  height: 400px;
}

.whackamole {
  width: 600px;
  height: 400px;
}

.rps {
  width: 600px;
  height: 400px;
}

.trilbyandfox {
  width: 600px;
  height: 400px;
}
